<%= @move %>

<% count = 0 %>
<table board="1">
    <tr>    
    <% @board_array.each_with_index do |el, i| %>
        <% count += 1 %>
        <td> <% if el == :open %>
            <%= button_to el, update_game_url(:move => i, :board => @board), method: :post %>
        <% else %>
            <%= el %>
        <% end %></td>
        <% if count % @row_length == 0 %>
            </tr><tr>
        <% end %>
    <% end %>
</table>

<% if @board.check_board_status != :continue_game %>
           <%= @board.check_board_status%> " Wins!!!" 
<% end %>

<br>
<%= link_to "New Game", new_game_url %>
