<%   results = @board.get_print_results;
    @board_array = results[0];
    @row_length = results[1] %>


<% count = 0 %>
<table board="1">
    <tr>
    <% @board_array.each_with_index do |el, i| %>
        <% count += 1 %>
        <td> <% if el == :open %>
            <%= link_to (image_tag "blank_icon.png"), update_game_url(:move => i, :board => @board), method: :post %>
        <% elsif el == :x %>
            <%= image_tag "x_icon.png" %>
        <% elsif el == :o %>
            <%= image_tag "o_icon.png" %>
        <% end %></td>
        <% if count % @row_length == 0 %>
            </tr><tr>
        <% end %>
        <% if count % (@row_length**2) == 0 %>
            <br>
        <% end %>
    <% end %>
</table>

<% if @board.game_over? %>
  <h2>
    <% if @winner == :tie %> Tie!!!
    <% else %>
      <%= @winner %> Wins!!!
    <% end %>
  <h2>
    <h3>
      <%= link_to "restart this game", restart_game_url %>
    <br>
      <%= link_to "create new game!", introduction_url %>
    <h3>
<% end %>


